@import url(./reset.css);
@import url(./globalStyles.css);
@import url(./buttons.css);
@import url(./cadastre.css);

.petinfo__container{
justify-content: center;
}
.cadastre__info{
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: center;
    margin-top:16px ;
    text-align: center;
}
.cadastre__info p{
    text-align-last: center
}
.cadastre__container{
     width: 420px;
}
@media (min-width: 100px) and (max-width: 700px){
    .petinfo__container{
        order: 2;
    }
    .cadastre__container{
        order: 1;
    }
}
.inputs{
    padding: 0 10px;
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 140px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--brand100);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--brand100) transparent transparent transparent;
  }
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
   .displaySpiner{
    display: none;
  } 